body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    font-family: 'Jost', sans-serif;
}
.box {
    margin-left: 150%;
    width: 25vw;
    height: 50vh;
    position: relative;
    overflow: hidden;
    min-width: 20rem;
    min-height: 35rem;
    background-color: skyblue;
    padding: 10px;
    text-align: center;
}
@media (max-width: 767px) {
    .box {
        margin-left: 15%;
    }
}
.inputFeild {
    border-radius: 40px;
    padding: 12px 20px;
    outline: none;
}
.wave-one { 
    opacity: 0.3;
    position: absolute;
    top: 120%;
    left: 50%;
    background: white;
    width: 50rem;
    height: 50rem;
    margin-left: -25rem;
    margin-top: -20rem;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift  3000ms infinite linear;
    z-index: 1;
}
.wave-two {
    animation: drift  5000ms infinite linear;
    z-index: 2 !important;
    opacity: 0.2;
}
.wave-three {
    animation: drift  7000ms infinite linear;
    z-index: 3 !important;
    opacity: 0.1;
}